mixin table-tree(items, level = 1)
    each item, index in items
        - const prefix = Array(level + 1).join("-- ")
        tr
            td #{item.count}
            td
                img(
                src=item.thumbnail
                alt=item.title
                width="100px"
                height="auto"
                )
            td #{prefix}#{item.title}
            td
                span #{item.position}
            td
                if (item.status === "active")
                    a(
                        href="javascript:;"
                        class="badge bg-success"
                        data-status="active"
                        data-id=item.id
                        button-change-status
                    ) Hoạt động
                else
                    a(
                        href="javascript:;"
                        class="badge bg-danger"
                        data-status="inactive"
                        data-id=item.id
                        button-change-status
                    ) Dừng hoạt động
            td
                a(
                class="btn btn-info btn-sm"
                href=`${prefixAdmin}/product-categories/detail/${item.id}`
                ) Chi tiết
                a(
                class="btn btn-warning btn-sm ms-1"
                href=`${prefixAdmin}/product-categories/edit/${item.id}`
                ) Sửa
                button(
                class="btn btn-danger btn-sm ms-1"
                item-id=item.id
                button-delete
                data-path=`${prefixAdmin}/product-categories/delete`
            ) Xóa
        if item.children && item.children.length > 0
            +table-tree(item.children, level + 1)
